groq
SpeechRecognition
pyttsx3
duckduckgo-search
# pyaudio  (optional: needed for microphone; skip if on Python 3.14 or no mic)
python-dotenv
pystray
Pillow
pyautogui
plyer
elevenlabs
pygame
pygetwindow
screeninfo
faster-whisper
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
